* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  scroll-behavior: smooth;
}

.app-header .container {
  padding: 10px 18px;
}
.app-header .container .row {
  max-width: 1160px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header .container .row .header__nav {
  display: flex;
  align-items: center;
  gap: 14px;
  list-style-type: none;
}
.app-header .container .row .header__nav .nav__item {
  height: 100%;
}
.app-header .container .row .header__nav .nav__item a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: currentColor;
}
.app-header .container .row .header__nav .nav__item:nth-child(2) {
  border: 1px solid #021A84;
  border-radius: 8px;
  width: 149px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}
.app-header .container .row .header__nav .nav__item:nth-child(2) a {
  color: inherit;
}
.app-header .container .row .header__nav .nav__item:nth-child(2):hover {
  color: #fff;
  background-color: #021A84;
}
.app-header .container .row .header__nav .nav__item:nth-child(2):hover a {
  color: #fff;
}
.app-header .container .row .header__nav .nav__item:nth-child(3) {
  border: 1px solid #999999;
  height: 17px;
}
.app-header .container .row .header__nav .nav__item:last-child {
  background-color: #021A84;
  border-radius: 8px;
  width: 149px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}
.app-header .container .row .header__nav .nav__item:last-child a {
  color: #fff;
}
.app-header .container .row .header__nav .nav__item:last-child:hover {
  color: #021A84;
  background-color: #ccc;
}
.app-header .container .row .header__nav .nav__item:last-child:hover a {
  color: #021A84;
}
.app-header .banner .banner__img {
  width: 100%;
  height: 721px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content {
  background-color: #E5E5E5;
}
.content .container {
  padding-top: 40px;
  max-width: 1160px;
  margin: 0px auto;
}
.content .container .search-nav {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 12px;
  border-radius: 8px;
}
.content .container .search-nav .row form {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}
.content .container .search-nav .row form .search__box {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  padding: 13.5px 16px;
}
.content .container .search-nav .row form .search__box input {
  width: 100%;
  height: 100%;
  border: none;
}
.content .container .search-nav .row form .vertical {
  border: 1px solid #999999;
  height: 17px;
}
.content .container .search-nav .row form .search__location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  height: 50px;
  width: 271px;
  background-color: #fff;
  padding: 13px 16px;
  border-radius: 8px;
}
.content .container .search-nav .row form .search__location .search__location-left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.content .container .search-nav .row form .search__location .search__location-left input {
  border: none;
}
.content .container .search-nav .row form .search__location .more__icon:hover {
  cursor: pointer;
}
.content .container .search-nav .row form .search__btn {
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  background-color: #021A84;
  width: 149px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
}
.content .container .search-nav .row form .search__btn:hover {
  color: #021A84;
  background-color: #ccc;
}
.content .container .search-nav .row form .search__btn:hover a {
  color: #021A84;
}
.content .container .language {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 12px 0px 12px;
}
.content .container .language .language__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.content .container .language .language__list .list-item a {
  text-decoration: none;
  color: currentColor;
  background-color: rgba(0, 0, 0, 0.1);
  display: inline-block;
  padding: 4px 8px;
  border-radius: 8px;
}
.content .container .job-desc .job-desc__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 87px 0px 40px 7px;
}
.content .container .job-desc .job-desc__heading .job-desc__left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.content .container .job-desc .job-desc__heading .job-desc__left .left__wrap {
  width: 53px;
  height: 53px;
  background-color: #fff;
  outline: 7px solid rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .container .job-desc .job-desc__heading .job-desc__left p {
  font-size: 34px;
  font-weight: 700;
}
.content .container .job-desc .job-desc__heading .job-desc__right p {
  font-size: 18px;
  font-weight: 500;
  color: #021A84;
  padding-right: 16px;
}
.content .container .job-desc .job-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-areas: "j1 j2 j3" "j4 j5 j6" "j7 j8 j9";
  gap: 32px;
}
.content .container .job-desc .job-layout .job-card {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #021A84;
  border-radius: 16px;
}
.content .container .job-desc .job-layout .job-card:first-child {
  grid-area: j1;
}
.content .container .job-desc .job-layout .job-card:nth-child(2) {
  grid-area: j2;
}
.content .container .job-desc .job-layout .job-card:nth-child(3) {
  grid-area: j3;
}
.content .container .job-desc .job-layout .job-card:nth-child(4) {
  grid-area: j4;
}
.content .container .job-desc .job-layout .job-card:nth-child(5) {
  grid-area: j5;
}
.content .container .job-desc .job-layout .job-card:nth-child(6) {
  grid-area: j6;
}
.content .container .job-desc .job-layout .job-card:nth-child(7) {
  grid-area: j7;
}
.content .container .job-desc .job-layout .job-card:nth-child(8) {
  grid-area: j8;
}
.content .container .job-desc .job-layout .job-card:last-child {
  grid-area: j9;
}
.content .container .job-desc .job-layout .job-card .card__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #021A84;
}
.content .container .job-desc .job-layout .job-card .card__heading .heading__left {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
.content .container .job-desc .job-layout .job-card .card__heading .heading__left .left__icon {
  width: 32px;
  height: 32px;
}
.content .container .job-desc .job-layout .job-card .card__heading .heading__left p {
  font-size: 16px;
  font-weight: 500;
}
.content .container .job-desc .job-layout .job-card .card__heading .heading__right {
  flex-shrink: 0;
}
.content .container .job-desc .job-layout .job-card .card__heading .heading__right p {
  font-size: 12px;
  font-weight: 400;
  color: #021A84;
  padding: 4px 8px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), #021A84;
  border-radius: 8px;
}
.content .container .job-desc .job-layout .job-card .card__detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0px;
}
.content .container .job-desc .job-layout .job-card .card__detail .detail__left .detail__extra {
  font-size: 12px;
  font-weight: 400;
  color: #021A84;
}
.content .container .job-desc .job-layout .job-card .card__detail .vertical {
  border: 1px solid #E5E5E5;
  height: 16px;
}
.content .container .job-desc .job-layout .job-card .card__detail .detail__right .detail__bonus {
  font-size: 12px;
  font-weight: 400;
  color: #021A84;
}
.content .container .job-desc .job-layout .job-card .card__detail .detail__monney {
  font-size: 14px;
  font-weight: 700;
  color: #171717;
  margin-top: 4px;
}
.content .container .job-desc .job-layout .job-card .card__detail .detail__monney span {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
}
.content .container .job-desc .job-layout .job-card .card__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .container .job-desc .job-layout .job-card .card__btn a {
  text-decoration: none;
  color: currentColor;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 4px 16px;
  background-color: #F2F2F2;
  border-radius: 8px;
}
.content .container .job-desc .job-layout .job-card .card__btn .btn__left {
  display: flex;
  gap: 16px;
}
.content .container .job-desc .job-layout .job-card .card__btn .btn__three {
  background-color: #FE4C4C;
  color: #fff;
  text-transform: uppercase;
}
.content .container .introduction .wrap__heading {
  text-align: center;
  margin: 80px 0px 40px 0px;
}
.content .container .introduction .wrap__heading .sub-heading {
  font-size: 18px;
  font-weight: 400;
  color: #021A84;
}
.content .container .introduction .wrap__heading .heading {
  font-size: 34px;
  font-weight: 700;
  color: #010d42;
}
.content .container .introduction .row {
  display: flex;
  gap: 32px;
}
.content .container .introduction .row .card-item {
  padding: 32px;
  text-align: center;
  background-color: #fff;
  flex: 1;
}
.content .container .introduction .row .card-item .card__img {
  width: 54px;
  height: 54px;
}
.content .container .introduction .row .card-item:first-child {
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #2ADA66;
}
.content .container .introduction .row .card-item:first-child .card-title {
  color: #2ADA66;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0px 16px 0px;
}
.content .container .introduction .row .card-item:first-child .card-desc {
  color: #2ADA66;
  font-weight: 400;
}
.content .container .introduction .row .card-item:nth-child(2) {
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #021A84;
}
.content .container .introduction .row .card-item:nth-child(2) .card-title {
  color: #021A84;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0px 16px 0px;
}
.content .container .introduction .row .card-item:nth-child(2) .card-desc {
  color: #021A84;
  font-weight: 400;
}
.content .container .introduction .row .card-item:last-child {
  border-radius: 16px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), #E5532A;
}
.content .container .introduction .row .card-item:last-child .card-title {
  color: #E5532A;
  font-size: 18px;
  font-weight: 700;
  margin: 8px 0px 16px 0px;
}
.content .container .introduction .row .card-item:last-child .card-desc {
  color: #E5532A;
  font-weight: 400;
}
.content .container .partner .partner__title {
  color: #021A84;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin: 80px 0px 40px 0px;
}
.content .container .partner .row {
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}
.content .container .partner .row .partner-item {
  padding: 8px;
  background-color: #fff;
  border-radius: 8px;
}
.content .container .partner .list-dot {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-top: 16px;
}
.content .container .partner .list-dot .dot-item {
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50%;
}
.content .container .partner .list-dot .dot-item:nth-child(3) {
  background: #021A84;
}
.content .container .partner .list-dot .dot-item:hover {
  cursor: pointer;
}
.content .container .process .process__heading {
  text-align: center;
  margin: 80px 0px 44px 0px;
}
.content .container .process .process__heading .heading__sub {
  font-size: 18px;
  font-weight: 400;
  color: #021A84;
}
.content .container .process .process__heading .heading {
  color: #010d42;
  font-size: 34px;
  font-weight: 700;
}
.content .container .process .process-layout {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 102px;
  flex-wrap: wrap;
}
.content .container .process .process-layout .process-item {
  flex: 1;
}
.content .container .process .process-layout .process-item .wrap-number {
  width: 24px;
  height: 24px;
  margin-inline: auto;
  background-color: #999999;
  border-radius: 50%;
  outline: 4px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .container .process .process-layout .process-item .wrap-number p {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.content .container .process .process-layout .process-item .process__img {
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0px 16px 0px;
}
.content .container .process .process-layout .process-item .process__text .text__title {
  color: #171717;
  font-size: 18px;
  font-weight: 700;
}
.content .container .process .process-layout .process-item .process__text .text__desc {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
}/*# sourceMappingURL=Recland.css.map */